<div class="mbottom-2">
  {{ isEdit ? 'Edit' : 'Add' }} Filter
</div>

<div [formGroup]="filterForm" class="d-flex w-full">
  <mat-form-field appearance="outline" class="flex-1 mleft-1 mright-1">
    <mat-label>Data Property</mat-label>
    <mat-select					
      formControlName="dataProperty">
      <mat-option [value]="property" *ngFor="let property of availableProperties">
        {{ property }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="flex-1 mleft-1 mright-1">
    <mat-label>Operator</mat-label>
    <mat-select					
      formControlName="operator">
      <mat-option [value]="operator" *ngFor="let operator of availableOperators">
        {{ operator }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="flex-1 mleft-1 mright-1">
    <mat-label>Value</mat-label>
    <input matInput
      type="text"
      formControlName="value"
    >
  </mat-form-field>
</div>

<button mat-raised-button color="primary" (click)="saveForm(filterForm)">
  Save
</button>
